.container
{
	display:flex;
    justify-content:center;
    align-items:center;

    width: 100%;

    padding: 5px 0;
    background: #FFFFFF40;


    
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.color
{
	color: black;
    text-align:center;
    font-size: inherit;
}