.container
{
	margin: 0;
	display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    width: 100%;

    color: white;
    font-weight: 900;
    font-size: 7rem;
    padding: 10px 0;
}